<h3>Edit a question</h3>

<%= render 'form' %>
<%= link_to 'Delete', '/questions/' + @question.to_param, method: :delete %></br>
<%= link_to 'Show', @question %></br>
<%= link_to 'Back', questions_path %>
